<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= "hello world".toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis placeat aliquid possimus modi exercitationem rem
        quidem asperiores! Libero quam dolor magni tempora laudantium aliquid, possimus necessitatibus nemo tenetur
        pariatur nostrum.

    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste aliquam, quisquam sapiente illum totam quod
        sit impedit a in, vero dolor. Amet perferendis illum, suscipit adipisci delectus eligendi corrupti?</p>
</body>

</html>