<%- include("partials/head") %>
    <%- include("partials/navbar") %>

    <h1>The Home Page <%= "hello world".toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis placeat aliquid possimus modi exercitationem rem
        quidem asperiores! Libero quam dolor magni tempora laudantium aliquid, possimus necessitatibus nemo tenetur
        pariatur nostrum.

    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste aliquam, quisquam sapiente illum totam quod
        sit impedit a in, vero dolor. Amet perferendis illum, suscipit adipisci delectus eligendi corrupti?</p>
        <%- include("partials/footer") %>
